.light-green-navbar-color {
    background-color: #008080;
}

.light-green-footer-color {
    background-color: #008080;
}

body {
    background-color: #b6dcdd;
}
h5 {
    font-family:Arial, Helvetica, sans-serif
}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

ul{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


@media screen and (min-width: 768px) {
    #carouselExampleIndicators{
       margin: auto;
    }
}

a {
    color: white;
}

img:hover{
 opacity: 0.5;
}

a.nav-link:hover{
    color: white !important;
}
a:hover{
    color: pink !important;
}
.align-left-image {
    float: left;
    margin-right: 15px; 
}

.list-group-item {
   background-color: transparent;
   border: none;
   font-size: large;

}
    


.text-start{
    text-align: center;
}



.carousel-caption {
    text-align: center;
}