.light-green-navbar-color {
    background-color: #008080;
}

.light-green-footer-color {
    background-color: #008080;
}

body {
    background-color: #b6dcdd;
}



@media screen and (min-width: 768px) {
    #carouselExampleIndicators{
       margin: auto;
    }
}





.text-start{
    text-align: center;
}



.carousel-caption {
    text-align: center;
}