.light-green-navbar-color {
    background-color: #008080;
}

.light-green-footer-color {
    background-color: #008080;
}

body {
    background-color: #b6dcdd;
}



@media screen and (min-width: 768px) {
    #carouselExampleIndicators{
       margin: auto;
    }
}

a {
    color: white;
}

img:hover{
 opacity: 0.5;
}

.align-left-image {
    float: left;
    margin-right: 15px; 
}

.list-group-item {
   background-color: transparent;
   border: none;
   font-size: large;

}
    


.text-start{
    text-align: center;
}



.carousel-caption {
    text-align: center;
}